body {
    margin: 0;
    padding: 0;
}

.centerMe {
    color: #f3f0f0;
    padding: 24px;
}

.makeMeFull {
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 9, 34);
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1.2em;
}

#post-items-container h3 {
    margin: 6px;
    padding: 6px;
}
